#datepicker {
    opacity: 0
}

.lightpick {
}

.lightpick__day {
    width: 50px;
    min-height: 50px;
    text-align: center;
    font-size: 20px;
    margin-left: 8px;
    margin-bottom: 13px;
    cursor: pointer;
}

.lightpick {
    display: flex;
    margin-top: -40px;
}

.lightpick {
    padding: inherit;

}

.lightpick__inner, .lightpick__month {
    width: 100%;
    color: #1A1A1A;
}

.research_time {
    margin-top: 80px;
    position: absolute;
    left: 0;
    bottom: 0;
}


.choose_box:first-child {
    position: relative
}

.lightpick__day.is-in-range {
    border-radius: 50%;
    background-color: #9b04057a;
    color: #fff;

}

.lightpick__day.is-end-date.is-in-range,
.lightpick__day.is-start-date.is-in-range.is-flipped,
.lightpick__day.is-start-date.is-in-range,
.lightpick__day.is-end-date.is-in-range.is-flipped {
    border-radius: 50%;
    background-color: #9B0405;
}

.lightpick__day.is-start-date {
    border-radius: 50%;
    background-color: #9B0405 !important;
    z-index: 1;
    background-image: inherit;
}


.lightpick__month-title {
    width: 100%;
    text-align: center
}

.lightpick__month-title-bar {
    position: relative;
    min-height: 50px;
}

.lightpick__toolbar button {
    position: absolute;
    top: -3px;
    font-size: 70px;
}

.lightpick__toolbar button i {
    color: #8A8A8A;
    font-size: 50px;

}

.lightpick__previous-action {
    top: 8px;
    left: 0;
}

.lightpick__next-action {
    margin: 0 6px 0 0;
    top: 8px;
    right: 0;
}


.lightpick__month-title > .lightpick__select-months,
.lightpick__month-title > .lightpick__select {
    font-size: 20px;
    font-weight: inherit;
    font-family: "Segoe UI Semibold";

}

.lightpick__day-of-the-week {
    font-size: 20px;
    font-weight: inherit;
}

.choose_box .calend_m {
    margin-top: 10px;
    margin-bottom: 60px;

}

.choose_box > h2:nth-child(3) {
    position: absolute;
    bottom: 70px;
    left: 0;

}

.lightpick__days-of-the-week {
    padding: 25px 0;
}

.lightpick__previous-action, .lightpick__next-action {
    background-color: inherit;
}
